:root {
    font-size: 20px;
    --main-color: #333;
    --main-darker: #222;
    --main-lighter: #999;
    --sub-color: #eee;
}

body {
    font-size: 1.25rem;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message_view {
    height: fit-content;
}

.char_field {
    font-size: 1.25rem;
    width: 80%;
    padding: 1.2rem 2rem;
    margin: 8px 8px;
    display: inline-block;
    background-color: var(--sub-color);
    box-sizing: border-box;
    color: var(--main-color);
    border: 1px solid;
    border-color: var(--main-lighter);
    border-radius: .5rem;
}

.char_field:focus {
    border: 1px solid
}