<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/index.css" />
    <script src="index.js"></script>
    <title>SimpleChat</title>
  </head>
  <body>
    <div class="message_view">
      {% if allMsg %}
      {% for msg in allMsg %}
        <div id="message_{{msg.id}}">{{msg}}</div>
      {% endfor %}
      {% else %}
        <div>Keine Nachrichten!</div>
      {% endif %}
    </div>
    <div class="controlls">
      <form action="/send" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Neue Nachricht schreiben:</h1></legend>
            <p>Benutzername:</p>
            <input type="text" name="name" id="usernamefield" placeholder="Benutzer">
            <p>Nachricht:</p>
            <input type="text" name="msg" id="msgfield" placeholder="Nachricht">
        </fieldset>
        <input type="submit" value="Send">
        </form>
    </div>
  </body>
</html>
